<h1 fxLayout="row"
    fxLayoutAlign="center center">{{ 'WELCOME_E' | translate }}</h1>
<div fxLayout="row"
     fxLayoutAlign="center center"
     [formGroup]="loginForm"
     id="loginFormContainer">
  <div fxLayout="column"
       fxLayoutAlign="center stretch">
    <mat-form-field fxFill>
      <input matInput
             type="text"
             placeholder="{{ 'EMAIL' | translate }}"
             formControlName="login">
    </mat-form-field>
    <mat-form-field fxFill>
      <input matInput
             type="password"
             placeholder="{{ 'PASSWORD' | translate }}"
             formControlName="password">
    </mat-form-field>
    <button mat-flat-button
            color="accent"
            fxFill
            [disabled]="!loginForm.valid"
            (click)="submit()">{{ 'LOGIN' | translate }}</button>
  </div>
</div>
